*
{
 margin: 0;
 padding: 0;
}

/* nav bar */

#nav-bar
{
 position: sticky;
 top:0;
 z-index:10;
}

.navbar-brand img
{
   height: 70px;
   padding-left: 30px;
   
}
.navbar-nav li
{
   padding :0 10px;
}

.navbar-nav li a
{
  float :right;
  text-align : left;
}

#nav-bar ul li a:hover
{
      color: #007bff !important;
}

.navbar{
   background: #fff;
}

.navbar-toggler
{
   border : none!important;
}

.nav-link
{
   color:#555!important;
   font-weight:600;
   font-size:16px;
}

/* the carasoul */

#slider{
   width:100%;

}

.carousel-caption
{
   top:50%;
   transform: translateY(-50%);
   bottom:initial!important;

}

.carousel-caption h5
{
   color : #fff;
   font-size: 70 px;
}

/* ----------------about--------------- */

#about
{
   position: left;
   padding-top: 50px;
   padding-bottom: 50px;
   color:#555;

}

#about .btn
{
   margin-top: 20px;
   margin-bottom: 30px;
}

.about-content{
   padding-top: 20px;

}
/* ----------------services---------------------- */
 #services
{
   /* background-image:linear-gradient(rgb(0,0,0,0,.8)),url(/static/1_OMkT_8pxA3cICfLOQjqk0g.png); */
   background-color:lightseagreen;
   background-size: cover;
   background-position: center;
   color:#efefef;
   background-attachment: fixed;
   padding-top: 50px;
   padding-bottom: 50px;

} 

#services h1{
   text-align:center;
   color:black;
   padding-bottom:10px;
}
 #services h1::after
{
   content: '';
   background: #efefef;
   display:block;
   height:3px;
   width:170px;
   margin:20px auto 5 px;
}

.icon{
   font-size: 40px;
   margin: 20px auto;
   padding: 20 px;
   height: 80px;
   width: 80px;
   border:1px solid #fff;
   border-radius: 50%;
}

#services p{
   font-size: 14px;
   margin-top:20px;
   color: #ccc;
}

.services .col-md-4:hover{
   background: #12253a;
   cursor:pointer;
   transition: 0.75s;
}

/* team */

#team
{
   padding-top:50px ;
   padding-bottom: 50px;
   color: #555;
}

h1{
   text-align: center;
   color: #555;
   padding-bottom: 10px;
}
h1::after
{
   content:'';
   background: #007bff;
   display: block;
   height: 3px;
   width: 170px;
   margin:20px auto 5px;
}

.responsive {
   width: 100%;
   max-width: 400px;
   height: auto;
 }

 .profile-pic
 {
   margin-top:25px

}
.profile-pic .img-box{
   opacity: 1;
   display:block ;
   position:relative;
}

.profile-pic .img-box img
{
   filter : grayscale(1)
}

.profile-pic .img-box img:hover
{
   filter : grayscale(0);
   cursor: pointer;
}
.profile-pic h2{
   font-size: 22px;
   font-weight:bold;
   margin-top:15px;
   color:#007bff!important;
}
.profile-pic h3{
   font-size: 15px;
   font-weight:bold;
   margin-top:15px;
 
}

#team .fa
{
   height:25px;
   width:22px;
   color:#007bff;
   background: #ffff;
   padding:4px;
   border-radius:50%;
}
.img-box ul{
   padding: 15px 0;
   position: absolute;
   z-index: 2;
   bottom: 0;
   left: 50%;
   transform:translateX(-50%);
   opacity: 0;
}
.img-box ul li{
   padding: 5px;
   display: inline-block;
}
.img-box:hover ul
{
   opacity: 1;
}
.img-box ul,.img-box li
{
   transition: 0.5s;
}
/* get in touch */

#contact
{
   background-color: #efefef;
   padding-top: 40px;
   padding-bottom: 40px;
   color: #777;
}
.contact-form
{
   padding: 15px;

}
.form-control
{
   border-radius: 0%;
   border: none;

}

::placeholder
{
color: #999999;
}

.fallow
{
   background: #fff;
   padding: 10px;
   margin: 15px;

}
.contact-info.fa
{
   margin:10px;
   color: #007bff;
   font-weight: bold;

}
/* footer */
#fotter
{
   /* background-color:#333; */
   /* color:#fff; */
   padding:12px;
}
